 @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
 *{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}
h1{
    font-family: "ออโต้เองนะทุกคน ของขวัญกูไม่มีหรอกมีแค่นี่เท่พอป่ะ";
    font-size: 4em;
    color: #00bd1f;
}
.typewriter{
    position: relative;
}
.typewriter::after{
    content: '|';
    position: absolute;
    right: 0;
    color: rgb(60, 255, 0);
    background-color: #000000;
    width: 100%;
    animation: typing 3s steps(14) alternate infinite,
                line 1s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line {
    50%{
        color: transparent;
    }
}

