<style>
  @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins",sans-serif;
}
body{   
    min-height: 100vh;
    display: flex;
    justify-content: first baseline;
    align-items: normal;
    background-color: rgb(0, 0, 0);
    .wrapper {
        display: flex;
    }
    
.wrapper .static-txt{
    color: greenyellow;
    font-size: 50px;
    font-weight: 50;
 }
    
.wrapper .dynamic-txts{
    margin-left: 5px;

}

 .dynamic-txts li {
        list-style: none;
        color: dodgerblue;
        font-size: 35px;
        font-weight: 35;
        position: relative;
}

.dynamic-txts li ::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid yellowgreen; 
    animation: typing 3s steps(10);
    
}

@keyframes typing{
    40%
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }   

    }
}
